<div class="content">
    <div class="card">
        <img 
        src="{{pais.flags.png}}" 
        alt="Bandera de {{pais.name}}" 
        class="flag"/>
        <div class="name">{{pais.name}}</div>
        <div class="info">
            <p><strong>Capital:</strong> {{pais.capital}}</p>
            <p><strong>Continente:</strong> {{pais.region}}</p>
            <p><strong>Idiomas:</strong> 
                @for (language of pais.languages; track $index) {
                    @if ($index == 0) {
                        {{ language.name }}} 
                    @else {, 
                        {{ language.name }}
                    }
                }
                </p>                           
            <p><strong>Población:</strong> {{pais.population}}</p>
        </div>
    </div>
</div>